@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<ProductModel>
<div class="container mb-3">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Ürün Adı</th>
      <th scope="col">Fiyatı</th>
      <th scope="col">Detay Gör</th>
      <th scope="col">Güncelle</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
      @{
          foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td><a class="btn btn-primary" asp-action="GetDetail" asp-route-id="@item.Id" role="button">Ürün Detayı</a></td>
                        <td><a class="btn btn-primary" asp-action="UpdateProduct" asp-route-id="@item.Id" role="button">Ürün Güncelle!</a></td>
                        <td><a class="btn btn-primary" asp-action="DeleteProduct" asp-route-id="@item.Id" role="button">Ürün Sil!</a></td>
                    </tr>
                }
      }
    
  </tbody>

</table>
 <div class="mb-3 mt-3 text-end">
                     
    <a class="btn btn-primary" asp-action="CreateProduct" role="button">Yeni Ürün Ekle!</a>
 </div>
</div>